doctype html
html
    head
        link(rel="stylesheet",href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
        style.
            body{margin-top:50px}
    body
        .container
            .row
                .col-md-4
                    ul.list-group
                        li.list-group-item.active 全部电影
                        li.list-group-item 爱情电影
                .col-md-8
                    ul.list-group
                        li.list-group-item.active 大鱼海棠
                        li.list-group-item 摇滚藏獒
